.hideHand
{
    transition: transform 1.0s ease; /* Adjust the timing here */
    transform: translateY(50%) translateX(10%) rotateZ(-10deg); /* Initial position */

}
.showHand
{
    transition: transform 1.0s ease; /* Adjust the timing here */
    transform: translateY(5%) translateX(0%) rotateZ(0deg); /* Initial position */
}
.HandWrap
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 6;
}

.ContainerCircles {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* CIRCLE */
  .StrCircle1, .StrCircle2, .StrCircle3 {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid grey;
    background: transparent;
  }
  .Pulse
  {
    animation: radial-pulse 3s infinite;
  }

  .StrCircle2 {
    animation-delay: 1.3333s;
  }
  .StrCircle3 {
    animation-delay: 2.6666s;
  }
  
  @keyframes radial-pulse {
    0%   {box-shadow: 0 0 0 0em rgba(160, 160, 160,.8);}
    100% {box-shadow: 0 0 0 5em rgba(255,100,100,.0);}
  }